@use "../abstracts/" as a;

.features {
    @include a.width;
    margin-block-start: 5em;
    margin-block-end: 5em;

    @include a.min-widths(medium) {
    display: flex;
    gap: 1.5rem;
    }
    

    &__img {
        flex: 1;
        margin-block-end: .8em;
    }


    &__details {
        background-color: a.$white;
        flex: 1;
        text-align: center;

        @include a.min-widths(medium) {
            text-align: left;
        }

        @include a.min-widths(large) {
            margin-top: 6rem;
            margin-left: -8rem;
            padding: 4rem 0 4rem 4rem;
        }

        
    }

    &__title {
        font-family: a.$font-primary;
        text-transform: uppercase;
        font-weight: 300;
        font-size: clamp(2rem, 1.905rem + 0.446vw, 2.333rem);
        margin-inline: auto; 
        max-width: 28rem;

    
        @include a.min-widths(medium) {
            margin: 0;
        }
    }

    &__desc {
        font-family: a.$font-secondary;
        color: a.$very-dark-gray;
        margin-block-start: .8em;
        font-size: clamp(1rem, 0.943rem + 0.268vw, 1.2rem);
    }



  
}

.creations {
    @include a.width;
    margin-block-end: 6rem;

    &__text {
        margin-block-end: 2em;
        @include a.min-widths(medium) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }


    &__title {
        font-family: a.$font-primary;
        text-transform: uppercase;
        text-align: center;
        font-size: clamp(1.867rem, 1.829rem + 0.179vw, 2.1rem);
        font-weight: 300;
    }

    &__btn {
        font-family: a.$font-primary;
        text-transform: uppercase;
        letter-spacing: .2em;
        text-align: center;
        display: flex;
        justify-content: center;
        padding: .6rem 0;
        color: a.$black;
        width: 50%;
        margin-inline: auto;
        font-size: clamp(1rem, 0.943rem + 0.268vw, 1.2rem);
        border: 2px solid a.$black;

        @include a.min-widths(small) {
            max-width: 12rem;
        }

        &--top {
            display: none;
            @include a.min-widths(medium) {
                display: inline-block;
                justify-content: flex-start;
                margin: 0;
            }
        }

        &--bottom {
            @include a.min-widths(medium) {
                display: none;
            }
        }
    }

    &__list {
        display: block;
        position: relative;
        margin-block-end: .8rem;
        color: a.$white;
        @include a.min-widths(medium) {
            margin: 0;
        }

        &-img--mobile {
            @include a.min-widths(medium) {
                display: none;
            }
        }

        &-img--desktop {
            display: none;
            @include a.min-widths(medium) {
                display: inline;
            }
        }

        &-title {
            display: flex;
            flex-direction: column;
            font-family: a.$font-primary;
            text-transform: uppercase;
            font-weight: 300;
            font-size: clamp(1.6rem, 1.524rem + 0.357vw, 1.867rem);
            position: absolute;
            bottom: 1rem;
            left: .8rem;
            z-index: 2;
        }
    }

    &__list::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: a.$white;
        opacity: 0;
    }
}